html, body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #E8E8E8;
  font-size: 16px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  background-color: #FCFCFC;
  border: 1px #D3D3D3 solid;
  border-width: 0 1px;
  padding: 0 1.5em;
  list-style-type: none;
}

.paper>li {
  padding: 1.5em 0;
  border-bottom: 1px solid #D2D2D2;
}

.paper>li:last-child {
  border-bottom: none;
}
