html, body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #E8E8E8;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paper {
  background-color: #FCFCFC;
  /*border: 1px #999 solid;*/
  border-width: 0 1px;
  padding: 0.5em 1.5em;
  box-sizing: border-box;
  list-style-type: none;
  position: relative;
  width: 100%;
  max-width: 18.8em;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
}

.paper>li {
  padding: 1.75em 0;
  border-bottom: 1px solid #aaa;
}

.paper>li.big {
  padding: 3.5em 0;
}

.paper>li.small {
  padding: 0.5em 0;
}

.paper>li.center {
  text-align: center;
}

.paper>li:last-child {
  border-bottom: none;
}

.paper:after, .paper:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background:
    linear-gradient(
      45deg,transparent 33.333%,
      rgba(0,0,0,0.1) 33.333%, rgba(0,0,0,0.1) 36%,
      #FCFCFC 36%, #FCFCFC 66.667%,
     transparent 66.667%
    ),
    linear-gradient(
      -45deg,transparent 33.333%,
      rgba(0,0,0,0.1) 33.333%, rgba(0,0,0,0.1) 36%,
      #FCFCFC 36%, #FCFCFC 66.667%,
     transparent 66.667%
    );
  background-size: 10px 20px;
  background-position: center bottom;
}

.paper:before {
  top: -5px;
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #FCFCFC 33.333%, #FCFCFC 66.667%,
      #fcfcfc 66.667%, #fcfcfc 69.667%,
      transparent 69.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #FCFCFC 33.333%, #FCFCFC 66.667%,
      #fcfcfc 66.667%, #fcfcfc 69.667%,
      transparent 69.667%
    );
  background-size: 10px 20px;
  background-position: center top;
  content: "";
  display: block;
}

.icon {
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 0.8em 0 0 0;
}

h4 {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: #616161;
}

.printer-selector {
  color: #000;
  text-decoration: none;
  position: relative;
}

.printer-selector:hover {
  color: #238CCC;
  text-decoration: none;
  position: relative;
}

.printer-selector:hover:after {
  border-top-color: #238CCC;
}

.printer-selector:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0.3em;
  right: -0.5em;
  border-width: 0.28em 0.15em 0.15em 0.15em;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.button {
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #3BA9EC 0%, #0C70AC 100%);
  border: 1px solid #154F73;
  box-shadow: 0px 2px 0px 0px #1C6593;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-size: 0.875em;
  padding: 0.5em 1.8em;
  margin: 0 auto;
}

.button:focus, .button:hover {
  border-color: #0c1e30;
  box-shadow: 0px 2px 0px 0px #133f62;
  outline: none;
}

.user {
  max-width: 18.8em;
  width: 100%;
  padding-top: 2em;
  font-weight: 600;
}

.user .name {
  float: left;
}

.user .amount {
  float: right;
}

.user .bar {
  width: 100%;
  height: 0.5em;
  background-color: #BBBBBB;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 0.5em;
}

.user .bar-used {
  background-color: #209414;
  height: 100%;
}

.button:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}