#header-bar {
  background-color: green;
  border-bottom: 1pm solid red;
  height: 100px;
  margin-bottom: 10px;
}

#titlebox {
  display: inline-block;
  padding:0 50px;
  width: 100px;
}

h1 {
  color: white;
  font-size: 50px;
}

#userpass {
  display: inline-block;
}

#username {
  margin: 20px 0 ;
}

#pickprinter {
  border: 5px dashed green;
  display: block;
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  width: 45%;
}

#upload {
  border: 5px dashed green;
  display: block;
  font-size: 40px;
  margin: 50px auto 0;
  text-align: center;
  width: 45%;
}

#submit {
  margin-top: 40px;
  text-align: center;
}
